  <li>
    <%= link_to purchased_item_path(@purchased_items), class: "mypage-item-link" do %>
      <figure>
        <% purchased_item.images.first(1).each do |image| %>
         <%= image_tag image.image, class: "is-higher-height lazyloaded" %>
        <% end %>
      </figure>
      <div class="mypage-item-body">
        <div class="mypage-item-text">
          <%= purchased_item.name %>
        </div>
      </div>
      <i class="fas fa-angle-right"></i>
    <% end %>
  </li>
