<%= render "shared/header"%>
<main class="l-container clearfix">
  <div class="l-content">
    <section class="l-chapter-container">
      <h2 class="l-chapter-head">ニュース一覧</h2>
      <ul class="news-list">
        <li>
          <a href="">
            <time class="news-date">
              <i class="icon-time">
              </i>
              10月2日 10:45
            </time>
            <h3>
              【10/2追記】【復旧済み】【らくらくメルカリ便】セブン-イレブンのシステム障害が発生しております
            </h3>
          </a>
        </li>
        <li>
          <a href="">
            <time class="news-date">
              <i class="icon-time">
              </i>
              9月20日 13:00
            </time>
            <h3>
              【重要】売上金の振込申請期限を「90日間」から「180日間」に変更いたします
            </h3>
          </a>
        </li>
        <li>
          <a href="">
            <time class="news-date">
              <i class="icon-time">
              </i>
              10月1日 14:52
            </time>
            <h3>
              台風24号に伴う配送遅延について
            </h3>
          </a>
        </li>
        <li>
          <a href="">
            <time class="news-date">
              <i class="icon-time">
              </i>
              10月2日 11:50
            </time>
            <span class="news-private">個別メッセージ</span>
            <h3>
              【P500進呈】ご登録ありがとうございます！メルカリでのお買い物をお楽しみください♪
            </h3>
          </a>
        </li>
        <li>
          <a href="">
            <time class="news-date">
              <i class="icon-time">
              </i>
              10月1日 09:11
            </time>
            <span class="news-private">個別メッセージ</span>
            <h3>
              はじめての出品で【200円分のポイント】プレゼント！詳細はこちら
            </h3>
          </a>
        </li>
        <li>
          <a href="">
            <time class="news-date">
              <i class="icon-time">
              </i>
              10月1日 09:10
            </time>
            <h3>
              【終了】《9/18(火)~9/30(日)まで》出品でお得なキャンペーンを開催中！
            </h3>
          </a>
        </li>
        <li>
          <a href="">
            <time class="news-date">
              <i class="icon-time">
              </i>
              9月29日 13:23
            </time>
            <h3>
              【9/29追記】《出品でお得なキャンペーン》ポイント・クーポン付与遅延のお知らせ
            </h3>
          </a>
        </li>
        <li>
          <a href="">
            <time class="news-date">
              <i class="icon-time">
              </i>
              9月27日 11:10
            </time>
            <span class="news-private">個別メッセージ</span>
            <h3>
              【P800進呈】ご登録ありがとうございます！メルカリでのお買い物をお楽しみください♪
            </h3>
          </a>
        </li>
        <li>
          <a href="">
            <time class="news-date">
              <i class="icon-time">
              </i>
              9月26日 18:12
            </time>
            <span class="news-private">個別メッセージ</span>
            <h3>
              はじめての出品は「本」がおすすめ！バーコードを読み取って15秒でかんたん出品！
            </h3>
          </a>
        </li>
        <li>
          <a href="">
            <time class="news-date">
              <i class="icon-time">
              </i>
              9月25日 19:00
            </time>
            <span class="news-private">個別メッセージ</span>
            <h3>
              【P500進呈】ご登録ありがとうございます！メルカリでのお買い物をお楽しみください♪
            </h3>
          </a>
        </li>
        <li>
          <a href="">
            <time class="news-date">
              <i class="icon-time">
              </i>
              9月24日 13:00
            </time>
            <h3>
              【新機能のお知らせ】検索時に除外キーワードを設定できるようになりました
            </h3>
          </a>
        </li>
        <li>
          <a href="">
            <time class="news-date">
              <i class="icon-time">
              </i>
              9月6日 16:24
            </time>
            <h3>
              【ブランド追加のお知らせ】「靴下屋」「ジーンズメイト」など、新たに647ブランドが設定できるようになりました！
            </h3>
          </a>
        </li>
        <li>
          <a href="">
            <time class="news-date">
              <i class="icon-time">
              </i>
              8月24日 19:00
            </time>
            <h3>
              【機能改善のお知らせ】販売中の商品を検索しやすくなりました！
            </h3>
          </a>
        </li>
        <li>
          <a href="">
            <time class="news-date">
              <i class="icon-time">
              </i>
              3月26日 19:00
            </time>
            <h3>
              【3/31(土)まで】スマホ購入に使える5%OFFクーポン♪お得なクーポンでスマホを新しくしよう！
            </h3>
          </a>
        </li>
        <li>
          <a href="">
            <time class="news-date">
              <i class="icon-time">
              </i>
              3月20日 15:01
            </time>
            <h3>
              新機能追加のお知らせ！ メルカリチャンネルに「応援スタンプ」機能が追加されました♪
            </h3>
          </a>
        </li>
        <li>
          <a href="">
            <time class="news-date">
              <i class="icon-time">
              </i>
              11月21日 17:00
            </time>
            <h3>
              新機能追加のお知らせ！メルカリチャンネルにチャンネルカテゴリーが追加されました♪
            </h3>
          </a>
        </li>
        <li>
         <a href="">
            <time class="news-date">
              <i class="icon-time">
              </i>
              1月23日 17:00
            </time>
            <h3>
              【お知らせ】宇宙兄弟の二次創作物の出品が可能になりました
            </h3>
          </a>
        </li>
      </ul>
    </section>
  </div>
  <%= render "shared/sidebar" %>
</main>

<%= render "shared/seller-button" %>
<%= render "shared/footer" %>
