<aside class="app-banner" height="260" background-center="position">
  <div class="app-banner-pc">
    <div class="app-banner-pc-inner" height="165.76" width="420">
      <h2>スマホでかんたんフリマアプリ</h2>
      <p>今すぐ無料ダウンロード!</p>
      <div class="app-banner-icon clearfix">
        <figure>
          <a href="#">
            <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?3913698104" width="68" height="68" alt>
          </a>
        </figure>
        <ul class="clearfix">
          <li>
            <a href="#" target="_blank">
              <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?3913698104" alt width="133" height="40">
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3913698104" alt width="133" height="40">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <figure class="smart-phone-app">
      <a href="#">
        <img src="https://www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?3913698104" alt width="300" height="260">
      </a>
    </figure>
  </div>
</aside>

<footer class="global-footer">
     <nav>
       <ul>
         <li class="download-app">
           <a href="">
             <img src="">
             "今すぐ無料ダウンロード"
           </a>
         </li>
         <li class="footer-cell">
           <h2 class="footer-head">メルカリについて</h2>
           <ul>
             <li>
               <a href="">会社概要（運営会社）</a>
             </li>
             <li>
               <a href="">プライバシーポリシー</a>
             </li>
             <li>
               <a href="">メルカリ利用規約</a>
             </li>
             <li>
               <a href="">メルカリ利用規約・有償ポイントに関する特約</a>
             </li>
             <li>
               <a href="">あんしんスマホサポート制度に関する利用特約</a>
             </li>
             <li>
               <a href="">コンプライアンスポリシー</a>
             </li>
             <li>
               <a href="">個人データの安全管理に係る基本方針</a>
             </li>
             <li>
               <a href="">特定商取引に関する表記</a>
             </li>
             <li>
               <a href="">資金決済法に基づく表示</a>
             </li>
             <li>
               <a href="">法令遵守と犯罪抑止の為に</a>
             </li>
             <li>
               <a href="">採用情報</a>
             </li>
           </ul>
         </li>

         <li class="footer-cell">
           <h2 class="footer-head">メルカリを見る</h2>
           <ul>
             <li>
               <a href="">カテゴリー一覧</a>
             </li>
             <li>
               <a href="">ブランド一覧</a>
             </li>
             <li>
               <a href="">出品地域一覧</a>
             </li>
             <li>
               <a href="">公式ブログ</a>
             </li>
             <li>
               <a href="">公式Twitter</a>
             </li>
             <li>
               <a href="">公式Facebook</a>
             </li>
           </ul>
         </li>
         <li class="footer-cell">
           <h2 class="footer-head">ヘルプ＆ガイド</h2>
           <ul>
             <li>
               <a href="">メルカリガイド</a>
             </li>
             <li>
               <a href="">メルカリロゴ利用ガイドライン</a>
             </li>
             <li>
               <a href="">お知らせ</a>
             </li>
             <li>
               <a href="">らくらくメルカリ便とは</a>
             </li>
             <li>
               <a href="">ゆうゆうメルカリ便とは</a>
             </li>
             <li>
               <a href="">大型らくらくメルカリ便とは</a>
             </li>
             <li>
               <a href="">車体取引ガイド</a>
             </li>
             <li>
               <a href="">返品・返金ポリシー</a>
             </li>
             <li>
               <a href="">メルカリあんしん・あんぜん宣言</a>
             </li>
             <li>
               <a href="">偽ブランド品撲滅への取り組み</a>
             </li>
             <li>
               <a href="">メルカリボックス</a>
             </li>
           </ul>
         </li>
         <li class="footer-cell">
           <h2 class="footer-head">国</h2>
           <ul class="footer-nav-lang">
             <li>
               <a href="">
                 <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/flag_us.png?815696604" alt="" width="22">
                 United States
               </a>
             </li>
             <li>
               <a href="">
                 <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/flag_uk.png?815696604" alt="" width="22">
                 United Kingdom
               </a>
             </li>
             <li>
               <a href="" class="active">
                 <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/flag_jp.png?815696604" alt="" width="22">
                 日本
               </a>
             </li>
           </ul>
         </li>
       </ul>
     </nav>
     <a href="" class="footer-logo">
       <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?815696604" width="124" height="33" alt="mercari">
     </a>
     <p class="footer-copyright">
       <small>© 2018 Mercari</small>
     </p>
</footer>
