<header class="single-header">
	<h1>
	  <a href="https://www.mercari.com/jp/">
	    <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2834800195" alt="mercari">
	  </a>
	</h1>
</header>
