body{
position: relative;
    min-height: 100%;
    background: #f5f5f5;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1;
}

.single-container {
  padding: 0 0 250px;
}

.single-header {
    height: 128px;
}

.single-header {
    text-align: center;
}


.l-single-container {
    width: 700px;
    margin: 0 auto;
    background: #fff;
}

.l-single-head {
    padding: 32px 16px;
    font-size: 22px;
line-height: 1.5;
    text-align: center;
  }

.l-single-inner {
    padding: 64px;
}

.l-single-content {
    max-width: 320px;
    margin: 0 auto;
}

.btn-sns-facebook:first-child {
    margin: 0;
}

.btn-sns-facebook {
    margin: 16px 0 0;
    background: #385185;
    color: #fff;
}

.btn-sns {
    position: relative;
}

.btn-default {
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
}

.btn-sns-google {
    margin: 16px 0 0;
    background: #dc4e41;
    color: #fff;
}

.btn-mail {
    position: relative;
    margin: 16px 0 0;
    background: #eee;
    color: #000;
}

.single-footer {
    width: 456px;
    height: 220px;
    margin: 0 auto;
}

.single-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 250px;
    padding: 40px 0;
    text-align: center;
}

.single-footer ul {
    font-size: 12px;
}

.single-footer a {
    color: #333;
}

.single-footer li {
    display: inline-block;
    margin: 0 0 0 16px;
    }

.single-footer a {
    display: block;
    color: #333;
}

.single-footer-logo {
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
}

.single-footer small {
    font-size: 12px;
}

// ここから電話番号
.single-header {
    height: 128px;
}

.single-header h1 {
    margin: 40px 0 0;
}


.single-header h1 {
    display: inline-block;
}

// .single-header img {
//     width: 12px;
//     height: 49px;
// }
// .single-header a {
//     width: 185px;
//     height: 49px;
//     line-height: 49px;
// }

// .single-header img {
//     width: 185px;
//     height: 49px;
// }

.signup-bar.progress-bar {
    padding: 40px 0 0 44px;
    border: 0;
}



.progress-bar {
    display: inline-block;
    vertical-align: top;
}

.progress-bar ol {
    margin: 0;
    width: 472px;}



.progress-bar li {
    margin: 0 40px 0 0;
    width: 72px;
}

.progress-bar li:last-child {
    margin: 0;
}

.progress-bar li {
    position: relative;
    z-index: 1;
    display: inline-block;
    min-width: 40px;
    margin: 0 5% 0 0;
    font-size: 12px;
    color: #888;
}

.progress-status {
    width: 12px;
    height: 12px;
    margin: 8px auto 0;
    background: #ccc;
    border-radius: 50%;
}

.progress-status:after {
    position: absolute;
    bottom: 5px;
    z-index: -1;
    display: block;
    width: 100%;
    content: '';
    width: 99.5px;
    height: 2px;
    background: #ccc;
}

.progress-status-last {
    width: 12px;
    height: 12px;
    margin: 8px auto 0;
    background: #ccc;
    border-radius: 50%;
}



.progress-bar li.through .progress-status {
    background: #ea352d;
}

.progress-status#aa:after {
  background: #ea352d;
}

.progress-bar li.active {
    font-weight: 600;
    color: #ea352d;
}

.progress-bar li.active .progress-status {
    background: #ea352d;
}

.progress-status-last#bb{
    color: #ea352d;
    background: #ea352d;

}
