body {
  background-color: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
}

figure{
  margin: 0px;
}

a {
  color: #0099e8;
  text-decoration: none;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

// @media screen and (min-width: 1068px)
.l-container {
  margin: 40px auto 0;
  width: 1020px;
}

.l-container {
  margin: 24px auto 0;
  padding: 0 0 40px;
}

// @media screen and (min-width: 768px)
.l-content {
    // float: none;
  width: 700px;
}

// @media screen and (min-width: 768px)
.item-box-container {
  padding: 24px 40px 40px;
}

.item-box-container {
  background-color: #fff;
  padding: 24px 40px 40px 40px;
}

.item-name {
  font-size: 23px;
  text-align: center;
  word-wrap: break-word;
  line-height: 1.4;
}

.item-main-content {
  margin: 16px 0 0;
}

.item-photo {
  float: left;
  min-width: 300px;
  max-width: 300px;
  min-height: 375px;
}

.item-price-box {
  margin: 24px 0 0;
}
// @media screen and (min-width: 768px)
// .visible-sp {
//   display: none;
// }

// @media screen and (min-width: 768px)
.item-detail-table {
  float: right;
  max-width: 300px;
  height: 375px;
  margin: 0 auto;
}

.item-detail-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
}

.item-detail-table th {
  width: 39%;
  text-align: left;
  font-weight: 400;
  background: #fafafa;
}

.item-detail-table td {
  width: 61%;
  background: #fff;
}

// @media screen and (min-width: 768px)
.item-detail-table th, .item-detail-table td {
  border-collapse: collapse;
　border: 1px solid #f5f5f5;
  padding: 8px;
}

.item-detail-table a {
  display: block;
}

.active-image {
  height: 300px;
  width: 300px;
}

.owl-dot-inner img {
  float: left;
  height: 75px;
  width: 75px;
}

.item-detail-table td {
  background-color: white;
  border-width: 1px;
  border-color: #f5f5f5;
  line-height: 0.6em; 
  padding: 8px;
}

.item-user-ratings {
  float: left;
  width: 33%;
}

.material-icons .md-light {
  color: rgba(0, 0, 255, 0.5);
}

.icon-smile {
  color: red;
  font-size: 10px;
}

.icon-neutral {
  color: orange;
  font-size: 10px;
}

.icon-bad {
  color: blue;
  font-size: 10px;
}

.item-user-ratings i, span {
  padding-top: 3px;
  vertical-align: middle;
}

.item-detail-table-sub-category i, span {
  vertical-align: middle;
}

.item-detail-table-sub-sub-category i, span {
  vertical-align: middle;
}

.fa-angle-right {
  font-size: 17px; 
}

.item-shipping-fee {
  font-size: 16px;
}

.item-price {
  font-size: 50px;
  margin-right: 16px;
}

.text-center {
  text-align: center;
}

.item-buy-btn {
  background: #888;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  height: 60px;
  line-height: 60px;
  margin: 16px auto 0px;
  text-align: center;
  transition: all ease-out .3s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  width: 620px;
}

.item-description {
  padding-top: 32px;
}

.item-description-inner {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  white-space: pre-wrap;
}

.item-button-container {
  margin: 16px 0 0;
}

.item-button {
  border-radius: 40px;
  color: #333;
  background: #f5f5f5;
  display: inline-block;
  padding: 8px 16px;
}

.item-button-like {
  color: #333;
  border: 1px solid #f5f5f5;
  background: #f5f5f5;
}

.item-button-report {
  margin-left: 16px;
}

.item-button-left {
  float: left;
}

// @media screen and (min-width: 768px)
.item-button-right {
  margin: 8px 0 0;
  float: right;
}

.item-detail-message {
  margin-top: 8px;
}

.message-content {
  background-color: white;
  padding: 24px 40px 40px 40px;
  width: 700px;
}

@media screen and (min-width: 768px){
.message-content {
    padding: 24px;
}
}

.message-items li {
  list-style: none;
  margin: 60px 0 0;
}

.message-items li:first-child {
  margin: 1.5em 0 0;
}

.message-items img {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width:  40px;       /* ※縦横を同値に */
  height: 40px;       /* ※縦横を同値に */
}

.message-user {
  color: black;
  float: left;
  position: relative;
  text-decoration: none;
}

@media screen and (min-width: 768px){
.message-user figcaption {
  width: 600px;
  min-width: 600px;
}
}

.message-user figcaption {
  display: inline-block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 56px;
  max-width: 100%;
  min-width: 214px;
  height: 1.2em;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px){
.message-body {
  width: 600px;
}
}

.message-body {
  float: right;
  position: relative;
  width: calc(100% - 56px);
  margin-top: 17px;
  padding: 16px;
  background: #eef0f4;
  border-radius: 15px;
  line-height: 1.5;
  word-break: break-all;
}

.message-icons {
  margin-top: 8px;
}

.message-icons time {
  display: block;
  color: #aaa;
}

.message-icon-left {
  float: left;
}

.message-icons div {
  display: inline-block;
  color: #aaa;
  text-decoration: none;
}

.message-icon-right {
  float: right;
}

.message-icon-right button {
  background-color: transparent;
}

.message-icons i, .message-icons span {
  vertical-align: middle;
}

.button, input, select, textarea {
  background-color: transparent;
}

.message-is-seller {
  margin: 8px 0 0;
  padding: 4px;
  background: #eef0f4;
  color: #000;
}

.message-form .textarea-default {
  margin: 8px 0 0;
}

.textarea-default:disabled {
  background: #f5f5f5;
}

@media screen and (min-width: 768px){
.nav-item-link-prev-next, .nav-user-link-prev-next {
  margin: 24px 0 0;
}
}

// @media screen and (min-width: 768px){
.nav-item-link-prev-next li, .nav-user-link-prev-next li {
  // width: 45%;
}
// }

.nav-item-link-prev-next li, .nav-user-link-prev-next li {
  position: relative;
  // width: 43%;
  // word-wrap: break-word;
}

.nav-item-link-prev-next .icon-arrow-right, .nav-user-link-prev-next .icon-arrow-right, .nav-item-link-prev-next .icon-arrow-left, .nav-user-link-prev-next .icon-arrow-left {
  position: absolute;
  top: 50%;
  // -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.nav-item-link-prev, .nav-user-link-prev {
  float: left;
  padding: 0 0 0 14px;
}

.nav-item-link-next, .nav-user-link-next {
  display: inline-block;
  float: right;
  padding: 0 14px 0 0;
  text-align: right;
}

.icon-arrow-left {
  font-size: 14px;
}

.nav-item-link-prev a {
  float: left;
  vertical-align: middle;
}

.nav-item-link-next i, span {
  vertical-align: middle;
}

.nav-item-link-prev i, span {
  vertical-align: middle;
}

@media screen and (min-width: 768px){
.item-social-media-box {
  padding: 32px 0 24px;
}
}

.item-social-media-box {
  margin: 24px 0 0;
  background: #fff;
  padding: 16px 0 8px;
}

.text-center {
  text-align: center;
}

.social-media-box {
  margin: 16px 0 0;
  text-align: center;
  font-size: 0;
}
