<%= render "shared/header"%>

<div class="l-container">

<div class="l-content">
  <section class="l-chapter-container">
    <h2 class="l-chapter-head">支払い方法</h2>


    <div class="l-single-inner">

            <section>
        <div class="l-single-content">
          <h3 class="l-chapter-sub-head">クレジットカード一覧</h3>
        </div>

        <ul class="settings-payment-list">
                  </ul>
      </section>

              <section class="settings-add-card">
          <div class="l-single-content">
            <a href="https://www.mercari.com/jp/mypage/card/create/" class="btn-default btn-red submit_button ">
              <i class="fas fa-credit-card"></i>クレジットカードを追加する
            </a>
          </div>
        </section>

      <div class="settings-not-regist">
        <a href="/jp/help_center/category/6/" target="_blank"><span>支払い方法について</span>
          <i class="fas fa-caret-right"></i>
        </a>
      </div>
    </div>
  </section>
</div>


<%= render "shared/sidebar" %>


</div>

<%= render "shared/seller-button" %>
