<main class="l-container clearfix">
  <div class="l-content">
    <section class="mypage-tab-container">
      <h2 class="mypage-tab-head">購入した商品</h2>
      <ul class="mypage-tabs">
        <li class="active">
          <h3>
            <a href="/mypage/purchase/">
              取引中
            </a>
          </h3>
        </li>
        <li class="">
          <h3>
            <a href="/mypage/purchased/">
              過去の取引
            </a>
          </h3>
        </li>
      </ul>
      <div class="tab-content">
        <ul id="mypage-tab-transaction-now" class="mypage-item-list tab-pane active">
          <li class="mypage-item-not-found bold">取引中の商品がありません</li>
        </ul>
        <ul id="mypage-tab-transaction-old" class="mypage-item-list tab-pane">
          <li class="mypage-item-not-found bold">過去に取引した商品がありません</li>
        </ul>
      </div>
    </section>
  </div>
  <%= render "shared/sidebar" %>
</main>
