<%= render "shared/header"%>
<div class="l-container">
	<div class="l-content">
	  <section class="l-chapter-container">
	    <h2 class="l-chapter-head">ポイント履歴</h2>
	    <ul class="mypage-item-list">
	      <li class="mypage-item-link">
	        <time>
	          <i class="icon-time"></i>
	          <span>2018年9月23日 20:53</span>
	        </time>
          <div class="clearfix">
            <div class="mypage-item-text bold l-left">
              購入
            </div>
            <div class="l-right">
              -P 500
            </div>
          </div>
	      </li>
	      <li class="mypage-item-link">
	        <time>
	          <i class="icon-time"></i>
	          <span>2018年9月23日 19:01</span>
	        </time>
          <div class="clearfix">
            <div class="mypage-item-text bold l-left">
              メルカリからのプレゼント
            </div>
            <div class="l-right">
              P 500
            </div>
	        </div>
	      </li>
	    </ul>
	  </section>
	</div>
<%= render "shared/sidebar" %>
</div>

<%= render "shared/seller-button" %>
<%= render "shared/footer" %>
