<%= render "shared/header"%>
<div class="l-container">
	<div class="l-content">
		<section class="l-chapter-container">
		  <h2 class="l-chapter-head">ポイントの有効期限</h2>
		  <div class="l-single-inner">
		    <h3 class="l-chapter-sub-head text-center">所持しているポイントはありません</h3>
		  </div>
		</section>
	</div>
<%= render "shared/sidebar" %>
</div>
<%= render "shared/seller-button" %>
<%= render "shared/footer" %>
