<%= render "shared/header"%>

<div class="l-container">

<div class="l-content">
  <section class="l-chapter-container">

                <h2 class="l-chapter-head">完了</h2>
      <div class="l-single-inner text-center">
        <p>確認済みです</p>
      </div>



  </section>
</div>


<%= render "shared/sidebar" %>


</div>

<%= render "shared/seller-button" %>
