<section class="items-box">
  <%= link_to item_path(item.id) do %>
    <figure class="items-box-photo">
      <% if item.buyer_id && item.seller_id? %>
        <figcaption>
          <div class="item-sold-out-badge">
          </div>
        </figcaption>
      <% end %>
      <% item.images.first(1).each do |content| %>
       <%= image_tag content.image.url %>
      <% end %>
    </figure>
    <div class="items-box-body">
      <h3 class="items-box-name font-2">
        <%= item.name %>
      </h3>
      <div class="items-box-num clearfix">
        <div class="items-box-price font-5">
          ¥ <%= number_with_delimiter(item.price) %>
        </div>
        <div class="items-box-likes font-2">
          <i class="far fa-heart gray"></i>
          <span>13</span>
        </div><br>
        <p class="items-box-tax">(税込)</p>
      </div>
    </div>
  <!-- </a> -->
  <% end %>
</section>
