<%= render "shared/header" %>
<div class="l-container">
  <div class="l-content">
    <section class="l-chapter-container">
    <h2 class="l-chapter-head">売上金の振込申請期限</h2>
      <ul class="mypage-item-list">
        <li class="mypage-nav-list-item clearfix">
          <div class="l-left">
            <div class="mypage-item-text">2019年3月28日</div>
          </div>
          <div class="l-right">¥ 322</div>
        </li>
      </ul>
    </section>
  </div>
<%= render "shared/sidebar" %>
</div>
<%= render "shared/seller-button" %>
<%= render "shared/footer" %>
