<%= render "shared/header" %>
<section class="top-main-visual">
  <div class="top-banner">
  <div class="top-main-visual-content">
      <h2 class="font-white">
        スマホでかんたんフリマアプリ
      </h2>
      <p class="font-white">
        メルカリはスマホカメラからすぐに出品できる<br>
        購入時も安心な独自システムのアプリです
      </p>
      <div class="top-main-visual-store clearfix">
        <ul class="clearfix">
          <li>
            <a href="#" target="_blank">
              <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?3913698104" alt="" width="170" height="50.3">
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3913698104" alt="" width="170" height="50.3">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <figure class="smart-phone-app">
      <img src="https://www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?3913698104" alt="" width="480" height="390">
    </figure>
  </div>
  </div>
</section>

  <section class="pickup-container">
    <h2>ピックアップカテゴリー</h2>
    <section class="items-box-container clearfix">
      <h3 class="text-center">
        <a href="#">レディース</a>
      </h3>
      <div class="items-box-content clearfix">
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
      </div>
    </section>
    <section class="items-box-container clearfix">
      <h3 class="text-center">
        <a href="#">メンズ</a>
      </h3>
      <div class="items-box-content clearfix">
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
      </div>
    </section>
    <section class="items-box-container clearfix">
      <h3 class="text-center">
        <a href="#">コスメ・香水・美容</a>
      </h3>
      <div class="items-box-content clearfix">
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
      </div>
    </section>
    <section class="items-box-container clearfix">
      <h3 class="text-center">
        <a href="#">ベビー・キッズ</a>
      </h3>
      <div class="items-box-content clearfix">
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
      </div>
    </section>
  </section>
  <section class="pickup-container">
    <h2>ピックアップブランド</h2>
    <section class="items-box-container clearfix">
      <h3 class="text-center">
        <a href="#">シャネル</a>
      </h3>
      <div class="items-box-content clearfix">
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
      </div>
    </section>
    <section class="items-box-container clearfix">
      <h3 class="text-center">
        <a href="#">ルイ ヴィトン</a>
      </h3>
      <div class="items-box-content clearfix">
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
      </div>
    </section>
    <section class="items-box-container clearfix">
      <h3 class="text-center">
        <a href="#">シュプリーム</a>
      </h3>
      <div class="items-box-content clearfix">
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
      </div>
    </section>
    <section class="items-box-container clearfix">
      <h3 class="text-center">
        <a href="#">ナイキ</a>
      </h3>
      <div class="items-box-content clearfix">
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
        <section class="items-box">
          <a href="#">
            <figure class="items-box-photo">
              <figcaption>
                <div class="item-sold-out-badge">
                </div>
              </figcaption>
              <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41307010251_1.jpg?1537893046" class=" is-higher-height lazyloaded" alt="タイトスカート NBB">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">
                RODEO CROWNS シャツ
              </h3>
              <div class="items-box-num clearfix">
                <div class="items-box-price font-5">
                  ¥2,500
                </div>
                <div class="items-box-likes font-2">
                  <i class="far fa-heart gray"></i>
                  <span>13</span>
                </div><br>
                <p class="items-box-tax">(税込)</p>
              </div>
            </div>
          </a>
        </section>
      </div>
    </section>
  </section>

  <%= render "shared/seller-button" %>
  <%= render "shared/footer" %>
